@import url("./reset.css");
@import url("./tailwind.css");
@import url("./notify.css");
@import url("./variable.css");

.icon-small--center {
  display: flex;
  align-items: center;
}

.text-primary {
  color:  #0632f5;
}
